<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.ui.views">
      <view
            name="%problemArchiveViewName"
            icon="icons/tc_logo.gif"
            category="net.fornwall.eclipsecoder.views"
            class="net.fornwall.eclipsecoder.archive.ArchiveListView"
            id="net.fornwall.eclipsecoder.archive.ArchiveListView">
      </view>
   </extension>

   <extension point="org.eclipse.ui.views">
      <view
            name="%submissionViewName"
            icon="icons/tc_logo.gif"
            category="net.fornwall.eclipsecoder.views"
            class="net.fornwall.eclipsecoder.archive.SubmissionListView"
            id="net.fornwall.eclipsecoder.archive.SubmissionListView">
      </view>
   </extension>

</plugin>
